@keyframes glow-gold {
  0% {
    box-shadow:
      0 0 5px var(--border-glow),
      0 0 20px var(--border-glow);
  }
  50% {
    box-shadow:
      0 0 25px var(--border-glow),
      0 0 40px var(--border-glow);
  }
  100% {
    box-shadow:
      0 0 5px var(--border-glow),
      0 0 20px var(--border-glow);
  }
}

.glow-border {
  animation: glow-gold 2s infinite ease-in-out;
  border: 1px solid var(--border-glow); /* Gold */
  border-radius: 0.75rem; /* Keep rounded corners */
}
