.miltal-slider.miltal-slider .rc-slider-track {
	background-color: #d5ce3c !important;
}

.miltal-slider.miltal-slider .rc-slider-rail {
	background-color: #989898 !important;
}

.miltal-slider.miltal-slider .rc-slider-handle {
	border-color: #e0cf79;
	background-color: #d5ce3c !important;
	opacity: 1 !important;
}

.price-slider.price-slider .rc-slider-track {
	background-color: #d5ce3c !important;
}

.price-slider.price-slider .rc-slider-rail {
	background-color: #989898 !important;
}

.price-slider.price-slider .rc-slider-handle {
	border-color: #e0cf79;
	background-color: #d5ce3c !important;
	opacity: 1 !important;
}
