/* Scrollbar container */
.scrollbar-container::-webkit-scrollbar {
	padding-top: 10px;
	width: 3px; /* Adjust width for vertical scrollbars */
	height: 3px; /* Adjust height for horizontal scrollbars */
}

@media screen and (min-width: 1024px) {
	.scrollbar-container::-webkit-scrollbar {
		width: 1px; /* Adjust width for vertical scrollbars */
		height: 1px; /* Adjust height for horizontal scrollbars */
	}
}
/* Scrollbar track */
.scrollbar-container::-webkit-scrollbar-track {
	background: #f1f1f1; /* Light grey background for track */
}

/* Scrollbar thumb */
.scrollbar-container::-webkit-scrollbar-thumb {
	background: #c9c9c9; /* Darker grey background for thumb */
	border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb on hover */
.scrollbar-container::-webkit-scrollbar-thumb:hover {
	background: #555; /* Darker grey on hover */
}
