@import "tailwindcss";
@import "../app/styles/scrollbar.scss";
@import "../app/styles/swiper.scss";
@import "../app/styles/price-range-slider.scss";
@import "../app/styles/border-glow.scss";
@import "../app/styles/discount-border-glow.scss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f5f5f5;
  --foreground: #0d1117;
  --card-background: #ebebeb;
  --card-border: #dddddd;
  --form-background: #ffffff;
  --form-border: #dddddd;

  --border-glow: #edc952;

  --animated-stroke: #dddddd;
  --animated-stroke-highlight: #d78e19d7;

  --color-primary: #deac39;
  --color-secondary: #222222;
  --color-accent: #f17c7c;
  --text-default: #1d1d1f;
  --text-muted: #6e6e73;

  --font-sans:
    Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --font-mono: "Fira Code", "JetBrains Mono", "Courier New", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-background: var(--card-background);
  --color-form-background: var(--form-background);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-card-border: var(--card-border);
  --color-form-border: var(--form-border);

  --color-text-default: var(--text-default);
  --color-text-muted: var(--text-muted);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

html.dark {
  --background: #08090a;
  --foreground: #f5f5f5;
  --card-background: #141516;
  --card-border: #222324;
  --form-background: #0f1011;
  --form-border: #2c2e33;

  --border-glow: #ffd700;

  --animated-stroke: #222324;
  --animated-stroke-highlight: #dfdfdf;

  --color-primary: #deac39;
  --color-secondary: #222222;
  --color-accent: #f17c7c;

  --text-default: #ffffff;
  --text-muted: #8b949e;
}

body {
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.6;
}

/* Monospace for code blocks */
code,
pre,
kbd,
samp {
  font-family: var(--font-mono);
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollLoopReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX();
  }
}

.animate-scroll-slow-reverse {
  animation: scrollLoopReverse 100s linear infinite;
}

.animate-scroll-slow {
  animation: scrollLoop 100s linear infinite;
}

[data-theme="dark"] {
  --background: #171717;
  --foreground: #f5f5f5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in forwards;
}
